{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- callout container -->
<div class="container h-100">
	<div class="row h-100">		    
		<div class="col-12">
            <h4>
                <!-- enter shop button -->
                <a href="{% url 'products' %}" class="btn btn-lg enter-shop-button bg-yellow text-black py-4 text-uppercase">Enter Shop</a>
            </h4>
        </div>        
	</div>
</div>
{% endblock %}


