{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay bg-yellow">
    <div class="container mb-2 pb-3">
        <div class="row">
            <div class="col pt-2">           
                <h2 class="logo-font mb-4">Checkout</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-6">
                <p>Please enter your delivery details below</p>
                <br>
                <form method="POST" action="">
                    {% csrf_token %}
                    {{order_form}}
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}
