{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay bg-yellow">
	<div class="container mb-2 pb-3">
		<div class="row">
			<div class="col-12 pt-2">
				<h2 class="mb-4">Thanks! Your order was successful!</h2>
				<hr>
                <p>A confirmation of your order will be sent to:</p><strong><i>{{order.email}}</i></strong>
			</div>                    
		</div>
        <hr>
		<div class="row">
			<div class="col-12">
				<strong><p>Order Reference:</p></strong>
			</div>
			<div class="col-12">
				<p>{{order.order_number}}</p>
			</div>
		</div>
        <hr>
		<div class="row">
			<div class="col-12">
				<strong><p>Billing:</p></strong>
			</div>
			<div class="col-12">
				<p>£{{order.grand_total}}</p>
				<p>{{order.date}}</p>
			</div>
		</div>
        <hr>        
		<div class="row">
			<div class="col-12">
				<strong><p>Order Summary:</p></strong>
			</div>
            {% for item in order.lineitems.all %}
			<div class="col-12">
				<p>{{item.product.name}} x{{item.quantity}} £{{item.product.price}}</p>
			</div>
            {% endfor %}
		</div>
        <hr>
		<div class="row">
			<div class="col-12">
				<strong><p>Delivering to:</p></strong>
			</div>
			<div class="col-12 pb-2">
				<p>{{order.full_name}}</p>
				<p>{{order.street_address1}}</p>
                <p>{%if order.street_address2%}{{order.street_address2}}{%endif%}</p>
                <p>{{order.town_or_city}}</p>
                <p>{%if order.postcode%}{{order.postcode}}{% endif %}</p>

			</div>
		</div>
        {% if from_profile %}
            <a href="{% url 'user_profile' %}" class="btn rounded-0 btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Back to Profile</span>
            </a>
        {% else %}
            <a href="{% url 'products' %}" class="btn rounded-0 btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Back to Shop</span>
            </a>
        {% endif %}
		<br>
    </div>
</div>
{% endblock %}
