html {
    height: 100%;
}

body {
    background: url('/media/flamin_wallpaper.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #000;
    font-family: 'Noto Sans JP', sans-serif;
}

.logo-font {
    text-transform: uppercase;
}

.bg-grey {
    background-color: rgb(100, 100, 100);
}

.bg-yellow {
    background-color: #ffcb05 !important;
}

.text-yellow {
    color: #ffcb05 !important;
    text-transform: None !important;
}

.border-curved {
     border-radius: 25px !important;
}

.enter-shop-button {
    background: #000;
    color: #fff;
    min-width: 240px;
}

.text-black {
    color: #000 !important;  
}

.text-white {
    color: #fff !important;  
}

.overlay {
    width: 80%;
    border-radius: 25px;
    top: 0;
    margin: auto;
    background-color: rgb(100, 100, 100);;
    z-index: -1;
}

.remove-item {
    cursor: pointer !important;
}

.mini-shoppingbag-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/*............. Toasts */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

/*............. media queries */

/* larger container on larger screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and larger screens */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* padding for mobile and medium header */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}