<div class="collapse navbar-collapse" id="main-nav">
	<ul class="navbar-nav mx-auto w-auto w-100">
		<!-- navbar dropdown taken from bootstrap documentation -->
		<li class="nav-item dropdown">
			<a class="nav-link text-white" href="#" id="all-products" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				All Products
			</a>
			<div class="dropdown-menu" aria-labelledby="all-products-link">
                <a class="dropdown-item" href="#">All Products</a>
				<a class="dropdown-item" href="#">Price</a>
				<a class="dropdown-item" href="#">Category</a>
				<a class="dropdown-item" href="#">Rarity</a>								
			</div>
		</li>
        <li class="nav-item dropdown">
			<a class="nav-link text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Sealed Packs
			</a>
			<div class="dropdown-menu" aria-labelledby="sealed-packs-link">
				<a class="dropdown-item" href="#">All Packs</a>
				<a class="dropdown-item" href="#">Champions Path</a>				
				<a class="dropdown-item" href="#">Hidden Fates</a>
				<a class="dropdown-item" href="#">Cosmic Eclipse</a>
				<a class="dropdown-item" href="#">Jungle Base Set</a>
				<a class="dropdown-item" href="#">Fossil Base Set</a>
			</div>
		</li>
        <li class="nav-item dropdown">
			<a class="nav-link text-white" href="#" id="single-cards" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Single Cards
			</a>
			<div class="dropdown-menu" aria-labelledby="single-cards-link">				
				<a class="dropdown-item" href="#">Champions Path</a>								
			</div>
		</li>
        <li class="nav-item dropdown">
			<a class="nav-link text-white" href="#" id="collection-box" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Collection Box's
			</a>
			<div class="dropdown-menu" aria-labelledby="collection-box-link">				
				<a class="dropdown-item" href="#">Champions Path</a>								
			</div>
		</li>
        <li class="nav-item dropdown">
			<a class="nav-link text-white" href="#" id="vintage-packs" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Vintage
			</a>
			<div class="dropdown-menu" aria-labelledby="vintage-cards-link">				
				<a class="dropdown-item" href="#">Jungle Base-Set</a>
				<a class="dropdown-item" href="#">Fossil Base-Set</a>								
				<a class="dropdown-item" href="#">Skyridge E-Series</a>																
			</div>
		</li>
	</ul>
</div>