<div class="collapse navbar-collapse" id="main-nav">
	<ul class="navbar-nav mx-auto w-auto w-100">
		<!-- navbar dropdown taken from bootstrap documentation -->
		<li class="nav-item dropdown">
			<a class="nav-link text-white" href="#" id="all-products" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				All Products
			</a>
			<div class="dropdown-menu" aria-labelledby="all-products-link">
                <a class="dropdown-item" href="{% url 'products' %}">All Products</a>
				<a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=asc">Price</a>
				<a class="dropdown-item" href="{% url 'products' %}?sort=category&direction=asc">Category</a>
				<a class="dropdown-item" href="{% url 'products' %}?sort=rarity&direction=asc">Rarity</a>								
			</div>
		</li>
        <li class="nav-item">
			<a class="nav-link text-white" href="{% url 'products' %}?category=packs" id="nav-item" role="button" aria-haspopup="true" aria-expanded="false">
				Sealed Packs
			</a>			
		</li>
        <li class="nav-item dropdown">
			<a class="nav-link text-white" href="{% url 'products' %}?category=single_cards" id="single-cards" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Single Cards
			</a>
			<div class="dropdown-menu" aria-labelledby="single-cards-link">				
				<a class="dropdown-item" href="{% url 'products' %}?category=single_cards">Champions Path</a>								
			</div>
		</li>
        <li class="nav-item dropdown">
			<a class="nav-link text-white" href="{% url 'products' %}?category=collection_box" id="collection-box" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Collection Box's
			</a>
			<div class="dropdown-menu" aria-labelledby="collection-box-link">				
				<a class="dropdown-item" href="{% url 'products' %}?category=collection_box">Champions Path</a>								
			</div>
		</li>
        <li class="nav-item">
			<a class="nav-link text-white" href="{% url 'products' %}?category=vintage" id="vintage-packs" role="button" aria-haspopup="true" aria-expanded="false">
				Vintage
			</a>			
		</li>
	</ul>
</div>