<!-- Toasts template taken from boostrap and modified -->
<div class="toast" role="alert" aria-live="assertive" data-autohide="false">
  <div class="toast-header bg-danger">
    <strong class="mr-auto">Error!</strong>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
   <div class="toast-body bg-yellow">
    {{ message }}
    <img src="/media/wave-pika2.png" class="rounded mr-2" alt="waving-pikachu">
  </div>
</div>